@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Home Page

******************************/



/*****************************
1. Home Page
******************************/

.logo-genome
{
  height: 70px;
  margin-top: -4px;
  margin-right: -30px;
}

.logo-name-sectn 
{
  font-size: 20px;
  font-weight: 700;
  line-height: 0.75;
  color: #353535;
  padding-top: 10px;
}

[data-dark-overlay="6"]:after {
  opacity: 0.6;
}

[data-dark-overlay]:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4f4f50;
  /* z-index: -1 */
}

.button-white
{
	background: transparent !important;
	border: solid 2px #ffffff !important;
}
.button-white a
{
	color: #ffffff !important;
}
.button-white:hover
{
	background: #ffffff !important;
}
.button-white:hover a
{
	color: #287cbc !important;
}

.main-prgraph 
{
    color: #000000 !important;
}

/* .insta-color:hover 
{
    background: #dd2a7c !important;
}

.face-color:hover 
{
    background: #3b5998 !important;
}

.twit-color:hover 
{
    background: #56acee !important;
} */


.icon_container_orange
{
	width: 61px !important;
	height: 61px !important;
	border-radius: 50% !important;
	background: #fe7701 !important;
}

.white_text 
{
    color: #ffffff !important;
}

.orage_overlay:after {
  opacity: 0.6;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fe9845;
  /* z-index: -1 */
}

.footer_logo_name 
{
  font-size: 30px;
  font-weight: 700;
  line-height: 0.75;
  color: #FFFFFF;
  margin-top: 10px;
  text-align: center;
}

.logo-genome-footer 
{
  height: 85px;
  margin-bottom: -75px;
  margin-left: -12px;
}

.cont-info-pad 
{
  padding-left: 45px !important;
}

.img-hnw 
{
  height: 812px;
  width: 649px;
}

.align-left 
{
  float: left !important;
}

.margin-top 
{
  margin-top: 10px;
}

.icon-padp 
{
  width: 44px !important;
  height: 50px !important;
}

.icon-hws 
{
  width: 43px;
  height: 40px;
}

.icon-hcs 
{
  width: 60px;
  height: 38px;
}

.icon-pt 
{
  width: 42px;
  height: 43px;
}

.icon-ns 
{
  width: 45px;
  height: 46px;
}

.icon-fpd 
{
  width: 47px;
  height: 46px;
}

.icon-opc 
{
  width: 48px;
  height: 48px;
}

.icon-omro 
{
  width: 43px;
  height: 43px;
}

.mobile-menu-social ul li a i 
{
  font-size: 16px;
  color: #fe7701;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.mobile-menu-social ul li:hover
{
	background: #fe7701;
}
.mobile-menu-social ul li:hover a i
{
	color: #FFFFFF;
}

.call-to-action 
{
  color: #f04a8a !important;
}

/***************************
2. Home Page Mobile
****************************/

@media only screen and (max-width: 767px) 
{
  /* For mobile phones: */
  .logo-genome {
    height: 47px;
    margin-top: -4px;
    margin-right: -20px;
  }

	.logo a > div:first-child
	{
		font-size: 17px;
  }
  
  .logo-name-sectn {
    font-size: 17px;
    font-weight: 700;
    line-height: 0.75;
    color: #353535;
    padding-top: 6px;
  }

  .logo a > div:last-child {
    font-size: 7px;
  }

  .cta_phone 
  {
    color: #FFFFFF !important;
  }

  .align-items-start 
  {
    align-items: center !important;
  }

}
/* Iphone 5 */
/* @media only screen and (max-width: 320px) 
{
  .menu.active {
    right: -58px;
  }

} */
/* Galaxy */
@media screen and (max-width: 360px) and (min-width: 321px)
{
  .intro_form_title 
  {
    width: 330px;
  }

  .logo-genome-footer {
    margin-left: 25px;
  }

  .footer_location 
  {
    padding-left: 30px;
  }

  .cta_phone 
  {
    color: #FFFFFF !important;
  }

  .align-items-start 
  {
    align-items: center !important;
  }
}
/* Iphone 5 */
@media only screen and (max-width: 320px) 
{
  .intro_form_title 
  {
    width: 290px;
  }

  .intro_input 
  {
    font-size: 12px;
    padding-left: 10px;
  }

  .logo-genome-footer {
    margin-left: 2px;
  }

  .menu.active {
    right: -58px;
  }

  .footer_location 
  {
    padding-left: 30px;
  }

  .button a {
    padding-left: 21px;
    padding-right: 21px;
  }

  .cta_phone 
  {
    color: #FFFFFF !important;
  }

  .align-items-start 
  {
    align-items: center !important;
  }

  .contact_content_title 
  {
    font-size: 27px;
  }

  .cta_text 
  {
    font-size: 13px;
  }
}
/* Pixel */
@media screen and (max-width: 414px) and (min-width: 376px)
{
  .intro_form_title 
  {
    width: 382px;
  }

  .logo-genome-footer {
    margin-left: 48px;
  }

  .footer_location 
  {
    padding-left: 30px;
  }

  .cta_phone 
  {
    color: #FFFFFF !important;
  }

  .align-items-start 
  {
    align-items: center !important;
  }
}
/* Iphone 6/7/8, 6/7/8 Plus & X */
@media screen and (max-width: 375px) and (min-width: 361px)
{
  .intro_form_title 
  {
    width: 345px;
  }

  .logo-genome-footer 
  {
    margin-left: 30px;
  }

  .footer_location 
  {
    padding-left: 30px;
  }
  .cta_phone 
  {
    color: #FFFFFF !important;
  }

  .align-items-start 
  {
    align-items: center !important;
  }
}
/* Ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
  .logo-genome-footer 
  {
    margin-left: -37px;
  }

  .cta_phone 
  {
    color: #FFFFFF !important;
  }

  .align-items-start 
  {
    align-items: center !important;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
{
  .logo-genome-footer 
  {
    height: 95px;
    margin-bottom: -75px;
    margin-left: 195px;
  }

  .cont-info-pad 
  {
    padding-left: 15px !important;
  }

  .align-items-start {
    /* -ms-flex-align: start!important; */
    align-items: center !important;
  }

  .cta_phone 
  {
    color: #FFFFFF !important;
  }

  .align-items-start 
  {
    align-items: center !important;
  }
}

/* Portrait iPad Pro */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)
  {
    .logo-genome-footer {
      margin-left: -44px;
    }

    .home_overlay img {
      max-width: 101%;
      margin-bottom: -1px;
    }

    .cta_phone 
    {
      color: #FFFFFF !important;
    }
  }

  /* Landscape iPad Pro */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape)
  {

  }


/*****************************
3. Contact Page
******************************/


[data-dark-overlay="7"]:after 
{
    opacity: 0.6;
}

[data-dark-overlay]:after 
{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #287cbc;
  /* z-index: -1 */
}

.home_text_contact 
{
  margin-top: 11px;
  color: #FFFFFF !important;
}

.center-content 
{
  justify-content: center !important;
}

.contact_social ul li:not(:last-of-type) 
{
  margin-right: 50px !important;
}

.intro_txt_area
{
  /* width: calc((100% - 15px) / 2); */
  width: 100% !important;
	height: 100px;
	background: transparent;
	border: solid 2px #e6ebf1;
	margin-bottom: 18px;
	padding-left: 25px;
	outline: none;
	font-size: 15px;
	color: #404040;
  font-weight: 500;
  padding-top: 15px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.intro_txt_area:focus,
.intro_txt_area:hover
{
	border: solid 2px #f04a8a;
}
.intro_txt_area::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.intro_txt_area:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.intro_txt_area::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
} 
.intro_txt_area:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.intro_txt_area::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}

.contact_form_margin 
{
  margin-top: 5% !important;
}