@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Home Page

******************************/



/*****************************
1. Home Page
******************************/

.logo-genome
{
    height: 70px;
    margin-top: -4px;
    margin-right: -30px;
}

.logo-name-sectn 
{
    font-size: 20px;
    font-weight: 700;
    line-height: 0.75;
    color: #353535;
    padding-top: 10px;
}

[data-dark-overlay="6"]:after {
    opacity: 0.6;
}

[data-dark-overlay]:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4f4f50;
  /* z-index: -1 */
}

.button-white
{
	background: transparent !important;
	border: solid 2px #ffffff !important;
}
.button-white a
{
	color: #ffffff !important;
}
.button-white:hover
{
	background: #ffffff !important;
}
.button-white:hover a
{
	color: #287cbc !important;
}

.main-prgraph 
{
    color: #000000 !important;
}

/* .insta-color:hover 
{
    background: #dd2a7c !important;
}

.face-color:hover 
{
    background: #3b5998 !important;
}

.twit-color:hover 
{
    background: #56acee !important;
} */


.icon_container_orange
{
	width: 61px !important;
	height: 61px !important;
	border-radius: 50% !important;
	background: #fe7701 !important;
}

.white_text 
{
    color: #ffffff !important;
}

.orage_overlay:after {
    opacity: 0.6;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fe9845;
    /* z-index: -1 */
  }

  .footer_logo_name 
  {
    font-size: 30px;
    font-weight: 700;
    line-height: 0.75;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
  }

  .logo-genome-footer 
  {
    height: 85px;
    margin-bottom: -75px;
    margin-left: -12px;
  }

  .cont-info-pad 
  {
      padding-left: 45px !important;
  }

  .img-hnw 
  {
      height: 812px;
      width: 649px;
  }

  .align-left 
  {
    margin-right: 0px !important;
  }